BasedOnStyle: Microsoft

AllowAllArgumentsOnNextLine: 'false'

AllowShortLambdasOnASingleLine: Inline

AllowShortLoopsOnASingleLine: 'false'

BinPackParameters: 'false'

Language: Cpp

Standard: Auto
